/* 푸터 스타일 */
.cont-company {
  background: #f2f2f2;
  margin-top: 135px;
}
.cont-company .cont-coInfo {
  position: relative;
  overflow: hidden;
  width: 1189px;
  margin: 0 auto;
}
.cont-company .tit-company {
  display: block;
  font-size: 22px;
  height: 118px;
  line-height: 118px;
  border-bottom: 2px solid #c4c4c4;
  font-weight: 700;
}
.cont-company .list-coInfo {
  float: left;
  margin: 38px 0;
}
.cont-company .list-coInfo dt,
.cont-company .list-coInfo dd {
  display: inline-block;
  float: left;
}
.cont-company .list-coInfo dt {
  font-weight: 700;
  margin-right: 5px;
}
.cont-company .list-coInfo dd {
  font-weight: 400;
}
.cont-company .list-coInfo dd::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  margin: 0 7px;
  background: #000;
}
.cont-company .list-coInfo dd:last-child::after {
  display: none;
}
.cont-company .list-sns {
  position: absolute;
  overflow: hidden;
  top: 50px;
  right: 0;
}
.cont-company .list-sns li {
  float: left;
  margin-left: 22px;
}
.cont-company .list-sns a[class^="link"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 1px;
  text-indent: -9999px;
  overflow: hidden;
}
.cont-company .list-sns .link-insta {
  background: url("../images/instagram.png");
}
.cont-company .list-sns .link-facebook {
  background: url("../images/facebook.png");
}
.cont-company .list-sns .link-twitter {
  background: url("../images/twitter.png");
}
.cont-company .txt-copy {
  float: right;
  margin-top: 38px;
}
